<div class="container-cadastro">
    <h2>Cadastro de Transação</h2>
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Descrição</mat-label>
        <input matInput formControlName="descricao" placeholder="Digite a descrição" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Valor</mat-label>
        <input matInput formControlName="valor" placeholder="Digite o valor" type="number" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo" required>
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
            {{ tipo.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>ID da Pessoa</mat-label>
        <input matInput formControlName="idPessoa" placeholder="Digite o ID da pessoa" type="number" required>
      </mat-form-field>
      <br>
      <div class="buttons">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
        <button mat-raised-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
</div>